# === Configuration du bot Telegram ===
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# === Configuration générale ===
VERSION=V9.0
DEVELOPED_BY=Tom V. | OverStyleFR
FFMPEG_PATH=ffmpeg/ffmpeg-7.0.2-amd64-static/ffmpeg

# === Rétention des fichiers ===
# Taille maximale d'un petit fichier en octets (défaut : 4 Mo)
SMALL_FILE_SIZE_BYTES=41943040
# Durée de rétention pour les petits fichiers en minutes (défaut : 60)
RETENTION_SMALL_MINUTES=60
# Durée de rétention pour les gros fichiers en minutes (défaut : 10)
RETENTION_LARGE_MINUTES=10
