# === Configuration du bot Telegram ===
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# === Configuration générale ===
VERSION=V.8-7
DEVELOPED_BY=Tom V. | OverStyleFR
FFMPEG_PATH=ffmpeg/ffmpeg-7.0.2-amd64-static/ffmpeg
